@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1120px;
  height: 100px;
}
nav img {
  width: 110px;
  height: 30px;
}
nav .p-nav {
  display: flex;
}
nav .p-nav h3 {
  color: #494949;
  margin-right: 30px;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  margin-top: 7px;
  cursor: pointer;
}
nav .p-nav h3:hover {
  color: black;
}
nav .p-nav button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border: 1px solid black;
  cursor: pointer;
}
nav .p-nav button:hover {
  background-color: black;
  color: white;
}

.main-container {
  height: 675px;
  background-color: #2d2446;
}
.main-container #bg-left-desktop {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: absolute;
  top: 630px;
}
.main-container #bg-right-desktop {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 100px;
  right: 0;
}
.main-container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1120px;
  margin: auto;
}
.main-container .content .main-text {
  width: 50%;
}
.main-container .content .main-text .border {
  width: 200px;
  height: 2px;
  background-color: white;
  margin-top: -100px;
  position: absolute;
}
.main-container .content .main-text h1 {
  margin-top: -30px;
  color: white;
  font-size: 75px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: 80px;
}
.main-container .content .main-text p {
  font-size: 20px;
  color: white;
  margin-top: 40px;
  line-height: 30px;
  font-family: "Karla", sans-serif;
  width: 97%;
}
.main-container .content .main-text button {
  color: white;
  background: none;
  border: 1px solid white;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.main-container .content .main-text button:hover {
  background-color: white;
  color: black;
}
.main-container .content .main-image {
  width: 50%;
}
.main-container .content .main-image img {
  width: 100%;
  height: 100%;
  margin-top: 120px;
}

.container-middle {
  margin-top: 300px;
}
.container-middle .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1120px;
  margin: auto;
}
.container-middle .content .border-middle {
  width: 200px;
  height: 2px;
  background-color: gray;
  margin-top: -1000px;
  position: absolute;
}
.container-middle .content .h1-different {
  font-size: 80px;
  margin-top: 0px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
.container-middle .content .card-middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  margin-bottom: 150px;
}
.container-middle .content .card-middle .card img {
  margin-bottom: 30px;
}
.container-middle .content .card-middle .card h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.container-middle .content .card-middle .card p {
  font-size: 17px;
  color: gray;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 25px;
  width: 90%;
}
.container-middle .content .find-more {
  background-color: #2d2446;
  height: 300px;
}
.container-middle .content .find-more #bg-middle-desktop {
  position: absolute;
  height: 300px;
  margin-left: 600px;
  background-position: right;
}
.container-middle .content .find-more .content-find-more {
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 80px;
}
.container-middle .content .find-more .content-find-more h1 {
  font-size: 60px;
  color: white;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  width: 48%;
  line-height: 60px;
}
.container-middle .content .find-more .content-find-more button {
  color: white;
  background: none;
  border: 1px solid white;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  z-index: 1;
  cursor: pointer;
}
.container-middle .content .find-more .content-find-more button:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: rgba(226, 226, 226, 0.26);
  margin-top: 170px;
  height: 400px;
}
footer #bg-footer-desktop {
  position: absolute;
  background-position: top;
  z-index: -1;
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1120px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}
footer .top .social-media img {
  margin-right: 20px;
  cursor: pointer;
}
footer .top .social-media img:nth-child(4) {
  margin-right: 0px;
}
footer .top .social-media img:hover {
  filter: brightness(0%);
}
footer .bottom {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  padding-top: 30px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
footer .bottom .bt {
  color: black;
}
footer .bottom .bt p {
  margin-bottom: 15px;
  cursor: pointer;
}
footer .bottom .bt p:nth-child(1) {
  color: #5c5c5c;
  margin-bottom: 30px;
}
footer .bottom .bt p:nth-child(2):hover {
  text-decoration: underline;
}
footer .bottom .bt p:nth-child(3):hover {
  text-decoration: underline;
}
footer .bottom .bt p:nth-child(4):hover {
  text-decoration: underline;
}
footer .bottom .bt p:nth-child(5):hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=App.css.map */
