@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
// font-family: 'DM Serif Display', serif; GROSSO
// font-family: 'Karla', sans-serif; MACIO

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    position: relative;
    min-height: 100vh;
}

// ===================
// 
//    NAV
//
// ===================

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1120px;
    height: 100px;

    img{
        width: 110px;
        height: 30px;
    }

    .p-nav{
        display: flex;

        h3{
            color: rgb(73, 73, 73);
            margin-right: 30px;
            font-size: 18px;
            font-family: 'Karla', sans-serif;
            font-weight: 400;
            margin-top: 7px;
            cursor: pointer;

            &:hover{
                color: black;
            }
        }

        button{
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background: none;
            border: 1px solid black;
            cursor: pointer;

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

// =================
//
//   MAIN
//
// =================

.main-container{
    height: 675px;
    background-color: rgb(45, 36, 70);

    #bg-left-desktop{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        position: absolute;
        top: 630px;
    }

    #bg-right-desktop{
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 100px;
        right: 0;
    }
    
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1120px;
        margin: auto;

        .main-text{
            width: 50%;

            .border{
                width: 200px;
                height: 2px;
                background-color: white;
                margin-top: -100px;
                position: absolute;
            }

            h1{
                margin-top: -30px;
                color: white;
                font-size: 75px;
                font-family: 'DM Serif Display', serif;
                font-weight: 400;
                line-height: 80px;
            }

            p{
                font-size: 20px;
                color: white;
                margin-top: 40px;
                line-height: 30px;
                font-family: 'Karla', sans-serif;
                width: 97%;
            }

            button{
                color: white;
                background: none;
                border: 1px solid white;
                padding: 12px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 30px;
                font-family: 'Karla', sans-serif;
                font-weight: 700;
                cursor: pointer;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    
        .main-image{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                margin-top: 120px;
            }
        }
    }
}

// ==================
//
// CONTAINER MIDDLE
//
// ==================

.container-middle{
    margin-top: 300px;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1120px;
        margin: auto;

        .border-middle{
            width: 200px;
            height: 2px;
            background-color: gray;
            margin-top: -1000px;
            position: absolute;
        }

        .h1-different{
            font-size: 80px;
            margin-top: 0px;
            font-family: 'DM Serif Display', serif;
            font-weight: 400;
        }

        .card-middle{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 80px;
            margin-bottom: 150px;

            .card{
                img{
                    margin-bottom: 30px;
                }

                h4{
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p{
                    font-size: 17px;
                    color: gray;
                    font-family: 'Karla', sans-serif;
                    font-weight: 400;
                    line-height: 25px;
                    width: 90%;
                }
            }
        }

        .find-more{
            background-color: rgb(45, 36, 70);
            height: 300px;

            #bg-middle-desktop{
                position: absolute;
                height: 300px;
                margin-left: 600px;
                background-position: right;
            }

            .content-find-more{
                justify-content: space-around;
                align-items: center;
                display: flex;
                margin-top: 80px;
                
                h1{
                    font-size: 60px;
                    color: white;
                    font-family: 'DM Serif Display', serif;
                    font-weight: 400;
                    width: 48%;
                    line-height: 60px;
                }

                button{
                    color: white;
                    background: none;
                    border: 1px solid white;
                    padding: 12px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-family: 'Karla', sans-serif;
                    font-weight: 700;
                    z-index: 1;
                    cursor: pointer;

                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}

// =================
//
// FOOTER
//
// =================

footer{
    background-color: rgba(226, 226, 226, 0.26);
    margin-top: 170px;
    height: 400px;

    #bg-footer-desktop{
        position: absolute;
        background-position: top;
        z-index: -1;
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1120px;
        padding-top: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(211, 211, 211);

        .social-media{
            img{
                margin-right: 20px;
                cursor: pointer;

                &:nth-child(4){
                    margin-right: 0px;
                }

                &:hover{
                    filter: brightness(0%);
                }
            }
        }
    }

    .bottom{
        display: grid;
        max-width: 1120px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        padding-top: 30px;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;

        .bt{
            color: black;

            p{
                margin-bottom: 15px;
                cursor: pointer;

                &:nth-child(1){
                    color: rgb(92, 92, 92);
                    margin-bottom: 30px;
                }

                &:nth-child(2){
                    &:hover{
                        text-decoration:underline;
                    }
                }

                &:nth-child(3){
                    &:hover{
                        text-decoration:underline;
                    }
                }

                &:nth-child(4){
                    &:hover{
                        text-decoration:underline;
                    }
                }

                &:nth-child(5){
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}

/*# sourceMappingURL=style.scss.map */
